<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>首页</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">账户管理服务台</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/index/"><span class="glyphicon glyphicon-log-in"></span> 返回</a></li>
        </ul>
    </div>
</nav>

     <h3 >添加账户</h3>

<div class="col-md-4 jumbotron" >

    <form action="/add/" method="post" class="div_add_form" novalidate>

        <div class="form-group">
            <label for="">登录用户名称</label>
            <input type="text" class="form-control" name="user" placeholder="请输入登录用户" >
        </div>
        <div class="form-group">
            <label for="exampleInputName2">登录用户密码</label>
            <input type="text" class="form-control" name="pwd" placeholder="请输入登录密码" >
        </div>
        <button type="submit" class="btn btn-success pull-right">提交</button>
    </form>

</div>

</body>
</html>